


{% load static %}
<!-- {% block content %} -->
{% if status %}
    <div class="container" style="text-align: center;">
    <div>
        <img src="{% static 'images/Success.png' %}" style="width: 15%;" alt="Payment Done">         
    </div>
    <h2 style="text-align: center;">Thank you. Your payment was successful.</h2>
{% else %}
    <h2 style="text-align: center;">Your Payment is failed! Try again.</h2>
{% endif %}

    <div class="text-center mt-5">
        <a href="{% url 'item_payment' %}" class="btn btn-primary" role="button"> <h3>Buy another one</h3> </a>
    </div>
</div>
<!-- {% endblock %} -->